
.shine {
    height: 20px;
    width: 60%;
    background-image: radial-gradient(
      farthest-side at 50% -50%,
      hsla(0, 0%, 0%, 0.5),
      hsla(0, 0%, 0%, 0)
    );
    position: relative;
    margin: 0 auto;
    border: 0;
  }
  
  .shine::before {
    height: 1px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0.75) 50%,
      hsla(0, 0%, 0%, 0)
    );
  }