
.form_flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $unit-tiny;
    padding-top: $unit-padding;
  }
  .Name {
    font-family: $font-stack;
    color: $accent-color-dark;
  }
  
  .email {
    font-family: $font-stack;
    color: $accent-color-light;
  }
  .tel {
    font-family: $font-stack;
    color: $accent-color-dark;
  }
  .form_text {
    font-family: $font-stack;
    color: $accent-color-dark;
  }
  ::placeholder {
    color: $accent-color-dark;
    font-size: 1rem;
  }
  
  textarea {
    height: 250px;
    max-width: 1100px;
    font-family: $font-stack;
  }
  input,
  textarea {
    padding: $unit-padding;
    resize: none;
    color: $primary-color;
    margin-bottom: $unit-padding;
    border-bottom: 1px solid $accent-color-dark;
    border-radius: 5px;
    width: 50%;
  }
  
  label {
    margin-bottom: $unit-padding;
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
    font-size: 20px;
  }
  
  .btn {
    color: $accent-color-light;
    background-color: $accent-color-dark;
    font-size: 20px;
    border: 1px solid $accent-color-light;
  }
  
  .btn:active {
    color: $primary-color;
  }