.hero {
  background-image: url("../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: -1;
  color: $secondary-color;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 $unit-padding;
  overflow: hidden;
}

.info {
  padding: $unit-padding;
  margin-bottom: 20px;
  top: 100px;
  left: 35px;
  color: $secondary-color;
  position: absolute;
}
.info h2 {
  animation: h2translate 2s 1.2s forwards;
  opacity: 0;
  font-size: 5rem;
  letter-spacing: $unit-tiny;
}

.info h1 {
  animation: h2translate 1s 0.7s forwards;
  opacity: 0;
  font-size: 8rem;
  padding: $unit-padding;
  letter-spacing: $unit-tiny;
}

@keyframes h2translate {
  0% {
    transform: translateX(40rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
