
@media (max-width: 800px) {
    .info h2 {
      animation: h2translate 2s 1.2s forwards;
      opacity: 0;
      font-size: 3rem;
      letter-spacing: $unit-tiny;
    }
  
    .info h1 {
      animation: h2translate 1s 0.7s forwards;
      opacity: 0;
      font-size: 5rem;
      padding: $unit-padding;
      letter-spacing: $unit-tiny;
    }
  }
  
  @media (max-width: 768px) {
    .grid-container {
      display: flex;
      flex-direction: column;
      max-width: 1100px;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding-top: $unit-padding-large;
    }
  }
  
  @media (max-width: 600px) {
    .logo {
      display: none;
    }
  
    .info {
      top: 50px;
    }
  
    .info h2 {
      animation: h2translate 2s 1.2s forwards;
      opacity: 0;
      font-size: 2rem;
      letter-spacing: $unit-tiny;
    }
  
    .info h1 {
      animation: h2translate 1s 0.7s forwards;
      opacity: 0;
      font-size: 3rem;
      padding: $unit-padding;
      letter-spacing: $unit-tiny;
    }
  
    .nav {
      font-family: $font-stack;
      background: $accent-color-dark;
      height: 220px;
      display: flex;
      justify-content: space-between;
      position: relative;
    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: space-between;
      padding: $unit-padding;
      list-style-type: none;
    }
  
    .wrapper {
      padding: 1em calc(50% - 300px);
    }
  }
  
  @media (max-width: 360px) {
    .hero {
      object-fit: cover;
      height: 100%;
      width: 100%;
      padding-top: 300px;
    }
  
    .info {
      top: 10px;
    }
  
    .grid-item img {
      width: 300px;
      height: 400px;
      object-fit: cover;
    }
  
    footer {
      display: flex;
      flex-direction: column;
  
      .socials-wrapper {
        padding-top: $unit-padding;
      }
    }
  }
  