.nav {
    font-family: $font-stack;
    background: $accent-color-dark;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: space-between;
    padding: $unit-padding;
    list-style-type: none;
  }
  
  li a {
    padding: $unit-padding;
    text-decoration: none;
    font-size: 2rem;
    color: $secondary-color;
  }
  
  li a:visited {
    color: $secondary-color;
  }
  
  li a:hover {
    border-bottom: 2px solid $primary-color;
  }
  
  .logo img {
    background-color: #ff000d;
    width: 120px;
    height: 120px;
    top: 30px;
    left: 35px;
    padding: 10px;
    position: absolute;
    border-radius: 50%;
  }