@import "reset";
@import "nav";
@import "hero";
@import "menu";
@import "divider";
@import "imagegrid";
@import "footer";
@import "media";

$unit-tiny: 4px;
$unit-large: 32px;
$unit-padding: 20px;
$unit-padding-large: 40px;
$primary-color: #ff000d;
$secondary-color: #ffff;
$accent-color-light: #ccc;
$accent-color-dark: rgb(29, 29, 29);
$font-stack: "Teko", sans-serif;
